.form{
  margin-top: 100px;
  width: 100% !important;
}

.border-light {
  width: 80%;
}

  .ng-invalid:not(form) {
  border-left: 8px solid #ff4444;
}

.ng-valid:not(form) {
  border-left: 8px solid #00C851;
}

.errorMessage {
  color: #ff4444 !important;
  margin-top: -24px;
  margin-bottom: 15px;
}

.bodyLoggin{
  height: 83.9vh;
}
